<footer>
    &copy; <a href="https://surfscape.neocities.org/">SurfScape</a> GameVortex 2023 |     <a href="/privacy">Privacy Policy</a>
    - <a href="/terms-of-service">Terms of Service</a> | <em>Running {{pkg.version}}</em>
</footer>