<footer>
    &copy; 2023 - {{site.title}} is part of the <a href="https://surfscape.neocities.org">SurfScape Project</a> - <em>running {{pkg.version}}</em>
    <br/>
    <a href="/privacy">Privacy Policy</a>
    - <a href="/terms-of-service">Terms of Service</a>
</footer>