<header>
    <a href="/" class="header--title"><img src="/public/images/home_logo.png" alt="GameVortex Logo">GameVortex</a>
    <nav class="options--group">
        {% for optionItems in nav.optionItems %}
            <a class="options--group--item"href="{{optionItems.url}}" title="{{optionItems.title}}" ><img src="/public/icons/24x24/{{optionItems.icon}}.png" alt="{{optionItems.title}}"></a>
        {% endfor %}
    </nav>
</header>