<aside class="sidebar">
    <div class="pod">
        <span class="pod--title"><img src="/public/icons/16x16/tag.png" alt="">Genres</span>
        <div class="pod--content">
            <nav class="genre--navbar">
                {% for genre in nav.genre %}
                    <a href="{{genre.url}}">{{genre.title}}</a>
                {% endfor %}
            </nav>
        </div>
    </div>
    <div class="pod">
        <span class="pod--title"><img src="/public/icons/16x16/radio.png" alt="">Site News</span>
        <div class="pod--content">
            <nav class="genre--navbar">
                {% for genre in nav.genre %}{% endfor %}
            </nav>
        </div>
    </div>
</aside>