<a href="{{params.url}}" class="game--card">
    <img src="/public/images/game-art/{{params.img}}.webp" alt="{{params.title}} banner" class="game--card--banner">
    <div class="game--card--meta">
        <span class="game--card-title">{{params.title}}</span>
    </div>
</a>