<!DOCTYPE html>
<html lang="{{ site.lang }}">
  <head>
    {% include "basehead.njk" %}
  </head>
  <body>
    <main>
      {% include "header.njk" %}
      {% block content %}
        {{ content | safe}}
      {% endblock %}

    </main>
    {% include "footer.njk" %}
  </body>
</html>