{% extends "./gameLoader.njk" %}

{% block content %}
    <script src="/public/libs/ruffle.js"></script>
    <script>
        window.RufflePlayer = window.RufflePlayer || {};
        window.addEventListener("load", (event) => {
            const ruffle = window
                .RufflePlayer
                .newest();
            const player = ruffle.createPlayer();
            const container = document.getElementById("container");
            container.appendChild(player);

            const sourceLink = document
                .querySelector('a[href^="/public/library/flash/"]')
                .getAttribute("href");
            const gamePath = sourceLink.substring(sourceLink.lastIndexOf("/") + 1);
            player.load(`/public/library/flash/${gamePath}`);
        });
    </script>
    <div id="container" class="game--window--container"></div>
    <a href="/public/library/flash/{{gamePath}}">Source</a>
    {{ content | safe }}
{% endblock %}