{% extends "./gameLoader.njk" %}

{% block loaderScript %}
    <script src="/public/libs/ruffle.js"></script>
    <a style="display:none;" id="sourceLink" href="/public/swf/{{codename}}.swf">Game File</a>
    <script>
        window.RufflePlayer = window.RufflePlayer || {};
        window.addEventListener("load", (event) => {
            const ruffle = window
                .RufflePlayer
                .newest();
            const player = ruffle.createPlayer();
            const container = document.getElementById("container");
            container.appendChild(player);
            const sourceLink = document
                .getElementById("sourceLink")
                .getAttribute("href");
            player.load(sourceLink);
        });
    </script>
{% endblock %}