{% extends "./gameLoader.njk" %}

{% block content %}
    <script src="/public/libs/ruffle.js"></script>
    <script>
        window.RufflePlayer = window.RufflePlayer || {};
        window.addEventListener("load", (event) => {
            const ruffle = window
                .RufflePlayer
                .newest();
            const player = ruffle.createPlayer();
            const container = document.getElementById("container");
            container.appendChild(player);
            player.load({{ "/public/library/flash/" + gamePath | url }});
        });
    </script>
    <div id="container" class="game--window--container"></div>
    {{ content | safe }}
{% endblock %}