{% extends "./gameLoader.njk" %}

{% block loaderScript %}
    <script src="/public/libs/UnityLoader.js"></script>
    <a style="display:none;"id="sourceLink" href="/public/library/unity/{{codename}}/{{codename}}.json">Game File</a>
    <script>
        const sourceLink = document
            .getElementById("sourceLink")
            .getAttribute("href");
        var gameInstance = UnityLoader.instantiate("gameContainer", sourceLink);
    </script>
    <div id="gameContainer">
        <canvas id="#canvas"></canvas>
    </div>
    <style>
        #gameContainer {
            max-width: 900px !important;
            height: 650px !important;
        }
        .game--window {
            max-width: 900px;
        }
    </style>
{% endblock %}