:root {
  --color-bg: #ffffff;
  --color-accent: #e45a38;
  --color-text: #202020;
  --color-bg-container: #343a40;
  --color-stroke: #8d8d8d;

  --container--shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);

  --spacing-xxsm: 0.25rem;
  --spacing-xsm: 0.5rem;
  --spacing-sm: 0.75rem;
  --spacing: 1rem;
  --spacing-md: 1.25rem;
  --spacing-lg: 1.5rem;
  --spacing-xlg: 1.75rem;
  --spacing-xxlg: 2rem;

  --radius: 5px;
  --viewport: 1000px;
}

body,
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji",
    "Android Emoji", "EmojiOne Color", "Twemoji";
}

body {
  font-size: 1.05rem;
  background: var(--color-bg);
  color: var(--color-text);
}

a {
  color: var(--color-accent);
}

a:hover {
  text-decoration: none;
}
main {
  margin: var(--spacing) auto;
  max-width: var(--viewport);
  border: 1px solid var(--color-stroke);
  border-radius: var(--radius);
  box-shadow: var(--container--shadow);
  overflow: hidden;
}

header {
  padding: var(--spacing-sm);
  background-image: linear-gradient(0deg, #bbc6cd 3%, #e2ebf0 100%);
  box-shadow: 0 2px 4px 0 rgba(42, 42, 42, 0.4);

  border-bottom: 1px solid var(--color-stroke);
  box-shadow: var(--container--shadow);
}

.header--title {
  font-size: 1.25em;
  font-weight: 700;
  color: var(--color-text);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  letter-spacing: 4px;
  user-select: none;
  text-decoration: none;
  transition-duration: 200ms;
  border-bottom: 2px dashed var(--color-accent);
}

.header--title:hover {
  color: var(--color-accent);
  letter-spacing: 6px;
  cursor: pointer;
}

.header--navbar {
  display: flex;
  padding: var(--spacing-sm) 0 0 0;
  gap: var(--spacing);
}
